apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-fyfbpjwj
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-fyfbpjwj:7baf3ff509a721f26c1deb11120e3be45739c5dd@sha256:bef4a07ca943dd02467ec9d4db5e55d4a587e50ab465883ec4bff133a0019fe1
        name: container-image  
